*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/android/build
/core/build
/desktop/build
/captures
.externalNativeBuild
/android/android.iml
*.iml
RainbowWarrior.ipr
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
